<section class="contato">
	<div class="content">
		<div class="overlay"></div>
		<div class="card" style="width: 90%; margin-left: auto;margin-right: auto; background-color: #dfdfdf;">
			<div class="card-body">
				<h2 class="card-title" style="color: #2c9424;">CONTATO</h2>

				<div class="col-md-12 order-md-1">
					<form class="needs-validation" novalidate="">
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="primeiroNome">Nome</label>
								<input type="text" class="form-control" id="primeiroNome" placeholder="" value=""
									required="">
								<div class="invalid-feedback">
									É obrigatório inserir um nome válido.
								</div>
							</div>
							<div class="col-md-6 mb-3">
								<label for="sobrenome">Sobrenome</label>
								<input type="text" class="form-control" id="sobrenome" placeholder="" value=""
									required="">
								<div class="invalid-feedback">
									É obrigatório inserir um sobre nome válido.
								</div>
							</div>
						</div>

						<div class="mb-3">
							<label for="nickname">Nickname</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">@</span>
								</div>
								<input type="text" class="form-control" id="nickname" placeholder="Nickname"
									required="">
								<div class="invalid-feedback" style="width: 100%;">
									Seu nickname é obrigatório.
								</div>
							</div>
						</div>

						<div class="mb-3">
							<label for="email">Email <span class="text-muted">(Opcional)</span></label>
							<input type="email" class="form-control" id="email" placeholder="fulano@exemplo.com">
							<div class="invalid-feedback">
								Por favor, insira um endereço de e-mail válido, para atualizações de entrega.
							</div>
						</div>

						<div class="mb-3">
							<label for="endereco">Endereço</label>
							<input type="text" class="form-control" id="endereco" placeholder="Rua dos bobos, nº 0"
								required="">
							<div class="invalid-feedback">
								Por favor, insira seu endereço de entrega.
							</div>
						</div>

						<div class="mb-3">
							<label for="endereco2">Endereço 2 <span class="text-muted">(Opcional)</span></label>
							<input type="text" class="form-control" id="endereco2" placeholder="Apartamento ou casa">
						</div>

						<hr class="mb-4">
						<div style="display: flex;justify-content: flex-end;">
							<button class="btn btn-primary btn-lg btn-block" type="submit"
								style="width: 200px;">Enviar</button>
						</div>
				</div>
				</form>

				<br>
				<h2 class="card-title" style="color: #2c9424;">REDES SOCIAIS</h2>
			</div>
		</div>
</section>