<div class="extra-info">
	<div class="container text-center">
		<!-- Exemplo de linha de colunas -->
		<div class="row">
			<div class="col-md-4">
				<div class="extra-info-icon">
					<i class="fa-solid fa-graduation-cap"></i>
				</div>
				<h2 style="color: #2c9424;">CURSOS</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
					mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
					mollis euismod. Donec sed odio dui. </p>
				<p>
			</div>
			<div class="col-md-4">
				<div class="extra-info-icon">
					<i class="fa-solid fa-users"></i>
				</div>
				<h2 style="color: #2c9424;">ALUNOS</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
					mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
					mollis euismod. Donec sed odio dui. </p>
				<p>
			</div>
			<div class="col-md-4">
				<div class="extra-info-icon">
					<i class="fa-solid fa-award"></i>
				</div>
				<h2 style="color: #2c9424;">PREMIAÇÕES</h2>
				<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
					porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
					ut fermentum massa justo sit amet risus.</p>
				<p>
			</div>
		</div>
	</div>
</div>